<div class="content-container">
  <mat-card fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    
    <button mat-fab color="primary" (click)="addEditEvent(-1)">
      <mat-icon>add</mat-icon>
    </button>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Events</h4>
      </div>
      <div class="card-body">
        <mat-table [dataSource]="events" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
          z
          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.event_title}} </mat-cell>
          </ng-container>

          <!-- created_at Column -->

          <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.created_at.date}} </mat-cell>
            </ng-container>
        
          <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef class="center"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="center" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addEditEvent(element.id)">
                  <mat-icon>edit</mat-icon>
                  <span>{{'shared.edit' | translate}}</span>
                </button>
                <button mat-menu-item (click)="deleteEvent(element.id)">
                  <mat-icon>delete_outline</mat-icon>
                  <span>{{'shared.remove' | translate}}</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickEvent(row)"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-card>
</div>