.mat-menu-panel {
  background: rgb(170, 172, 175) !important;
  .mat-menu-content button mat-icon{
    color: $white-color;
  }
}

.sidebar {
  background: rgb(170, 172, 175) !important;

  .nav i {
    color: white !important;
  }
}

.mat-row:hover {
  background-color: rgb(170, 172, 175);
}

@media (max-width: 991px){
  .sidebar::before{
    background-color:  rgb(170, 172, 175) !important;
  }
}