.content-container {
    margin-top: 70px;
    padding: 20px;

    mat-card {
        padding: 20px;
    }

    .label {
        font-size: 18px;
    }

    .catalog-name-panel{
        min-width: 40%;
    }
}