.subtitle{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 5px 0px;
}

.container{
    padding: 15px;
    overflow: hidden !important;
}

.details-container{
    width: 100%;
    
}
