.subtitle {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 5px 0px;
}

mat-panel-title {
    font-size: 1.25em;
}

::ng-deep mat-expansion-panel.details-panel .mat-expansion-panel-body {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
}

.details-panel {
    margin-top: 10px;
}

@media screen and (max-width: 40em) {
    .grid-container {
        grid-template-columns: 100%;
        grid-gap: 10px;
    }
}

app-pagination {
    float: right;
}

.content-container {
    margin-bottom: 20px;
}

.title {
    img {
        max-height: 150px;
        border-radius: 2px;
    }

    h3 {
        margin: 0px;
    }
}

