<div *ngIf="eventDetails" class="content-container" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px">
  <mat-card fxFlex="100">
    <mat-card-content>
      <div class="title" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
        <img src="{{eventDetails.event_image}}">
        <div fxLayout="column" fxLayoutAlign="space-between">
          <h3>{{eventDetails.event_title}}</h3>
          <div *ngIf="eventDetails.event_sharing_option == 0 && !eventRegister.isRegistered">
            <div>This event is privat, you need to register</div>
            <button mat-raised-button color="primary"
              (click)="eventRegister.register(eventDetails)">Registration</button>
          </div>
        </div>
      </div>
      <mat-expansion-panel class="details-panel" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="details-container">
          <div class="subtitle">Description</div>
          <div>{{eventDetails.event_description}}</div>
          <div class="subtitle">Payments info</div>
          <div class="grid-container">
            <div>Shipping: {{eventDetails.event_shipping}}</div>
            <div>Delivery: {{eventDetails.event_delivery}}</div>
            <div>Payment: {{eventDetails.event_payment}}</div>
            <div>Guarantee: {{eventDetails.event_guarantee}}</div>
          </div>

          <div class="subtitle">Others</div>
          <div class="grid-container">
            <div>Email: {{eventDetails.event_email}}</div>
            <div>Date: {{eventDetails.event_date}}</div>
            <div>Place: {{eventDetails.event_place}}</div>
            <div>Site: {{eventDetails.event_site}}</div>
            <div>Facebook: {{eventDetails.event_site}}</div>
            <div>Twitter: {{eventDetails.event_twitter}}</div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-card-content>
  </mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field class="search-box">
        <input name="search" #searchBox matInput type="text" placeholder="Search">
      </mat-form-field>
      <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <div>Filters:</div> -->
      <mat-form-field>
        <mat-select name="category" placeholder="Categories" (selectionChange)="categoriesChanged($event)" multiple>
          <mat-option *ngFor="let category of categories; let i= index;" [value]="category" >
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- </div> -->
    </div>

      <app-pagination fxFlex="0 0 auto" [maxRange]="lastPage" (selectedIndexCallback)="pagination($event)">
      </app-pagination>
    </div>
    <app-event-products fxFlex="100" [products]="products" [eventId]="eventId">
    </app-event-products>
  </div>