<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
  <div class="details-container">
    <div class="subtitle">Description</div>
    <div>{{eventDetails.event_description}}</div>
    <div class="subtitle">Payments info</div>
    <div class="grid-container">
      <div>Shipping: {{eventDetails.event_shipping}}</div>
      <div>Delivery: {{eventDetails.event_delivery}}</div>
      <div>Payment: {{eventDetails.event_payment}}</div>
      <div>Guarantee: {{eventDetails.event_guarantee}}</div>
    </div>

    <div class="subtitle">Others</div>
    <div class="grid-container">
      <div>Email: {{eventDetails.event_email}}</div>
      <div>Date: {{eventDetails.event_date}}</div>
      <div>Place: {{eventDetails.event_place}}</div>
      <div>Site: {{eventDetails.event_site}}</div>
      <div>Facebook: {{eventDetails.event_site}}</div>
      <div>Twitter: {{eventDetails.event_twitter}}</div>
    </div>
  </div>
  <form #formEventReg="ngForm"  fxLayout="column" class="w-100 m-0">
    <mat-checkbox ngModel name="terms" color="primary" required>
      <span>Elfogadom a feltételeket</span>
    </mat-checkbox>
    <button [disabled]="!formEventReg.valid" fxFlexAlign="end" mat-raised-button color="primary"
      (click)="dialogRef.close(true)">Registration</button>
  </form>
</div>