<div class="grid-container">
  <mat-card class="grid-item" *ngFor="let product of products">
    <mat-card-content>
      <div fxLayout="column" class="event-img-container" fxLayoutGap="5px">
        <img src="{{product.product_image}}" onError="this.src='./assets/img/no_image.png'">
      </div>
      <div class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{product.title}}</span>
        <button mat-icon-button>
          <mat-icon class="favorite_icon" *ngIf="isFavorite(product); else not_favorite" (click)="addRemoveFavorite(product)">favorite
          </mat-icon>
        </button>
        <ng-template #not_favorite>
          <button mat-icon-button>
            <mat-icon (click)="addRemoveFavorite(product)">favorite_border</mat-icon>
          </button>
        </ng-template>
      </div>
      <div>Price: {{product.price}}</div>
      <div>Price starting: {{product.price_starting}}</div>
      <div>Quantity: {{product.quantity}}</div>
      <button class="card-getin-btn" mat-raised-button color="primary"
        (click)="openProductDetails(product)">Details</button>
    </mat-card-content>
  </mat-card>
</div>