<div class="content-container">
  <mat-card>
    <mat-card-content>
      <div class="title" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <img src="{{companyDetails.avatar}}">
        <h3>{{companyDetails.company_name}}</h3>
      </div>
      <div class="company-details">
          <div>Country: {{companyDetails.country}}</div>
          <div>Address: {{companyDetails.address}}</div>
      </div>
      <h4>Contact details:</h4>
      <div class="contact-details">
        <div>Name: {{companyDetails.contact_last_name}} {{companyDetails.contact_first_name}}</div>
        <div>Email: {{companyDetails.contact_email}}</div>
        <div>Phone: {{companyDetails.contact_phone}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-events *ngIf="events" [events]="events" [allEvents] = false></app-events>
</div>