<div class="grid-container">
  <mat-card class="grid-item" *ngFor="let event of events">
    <mat-card-content>
      <button class="event-card-menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Details</span>
        </button>
      </mat-menu>
      <div fxLayout="column" class="event-img-container" fxLayoutGap="5px">
        <img src="{{event.event_image}}" onError="this.src='./assets/img/no_image.png'">
      </div>
      <div class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{event.event_title}}</span>
        <button mat-icon-button>
          <mat-icon class="favorite_icon" *ngIf="isFavorite(event); else not_favorite" (click)="addRemoveFavorite(event)">favorite</mat-icon>
        </button>

        <ng-template #not_favorite>
          <button mat-icon-button>
            <mat-icon (click)="addRemoveFavorite(event)">favorite_border</mat-icon>
          </button>
        </ng-template>

      </div>
      <div>Kategória: {{event.event_category_name}}</div>
      <div>Időpont: {{event.event_date}}</div>
      <div *ngIf="allEvents">Szervező: <a [routerLink]="['/company-events']"
          [queryParams]="{company: event.company_id}">{{event.company.company_name}}</a></div>
      <button class="card-getin-btn" mat-raised-button color="primary" [routerLink]="['/event-details']"
        [queryParams]="{event: event.id}">GET IN</button>
    </mat-card-content>
  </mat-card>
</div>