.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px 0px;
}

@media screen and (max-width: 70em) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}

@media screen and (max-width: 50em) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media screen and (max-width: 30em) {
    .grid-container {
        grid-template-columns: 100%;
        grid-gap: 5px;
    }
}

.grid-container .grid-item {
    width: 100%;
    height: 450px;
    padding: 10px 0px;
    font-size: 30px;

    >mat-card-content {
        height: 100%;
        padding: 25px 18px;

        a{
          color: #3f51b5;
        }

        .event-img-container {
            height: 200px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .event-card-menu {
            position: absolute;
            top: 0;
            right: 0;
        }

        .card-title {
            text-align: left;
            font-weight: 400;
            margin-top: 5px;
            font-size: 17px;
            margin-bottom: 0px;
        }

        .card-getin-btn {
            width: calc(100% - 36px);
            position: absolute;
            bottom: 10px;
        }

    }
}