.content {
    padding: 20px;

    h3{
        margin: 0px;
    }
}


.main-img-container {
    width: 100%;
    height: 70%;

}

img-container {
    height: 100%;
    width: 100%;
}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.small-images-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;

}

.title{
    font-weight: 400;
}

.right-container{
    padding-top: 5px;
    padding-left: 20px;
}