<div class="content-container">
    <mat-card *ngIf="productDetails && eventDetails">
        <h3>{{productDetails.title.value}}</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="2px">
                <div class="main-img-container">
                    <img src="{{getMainImage()}}" onError="this.src='./assets/img/no_image.png'">
                </div>
                <div class="small-images-container">
                    <div class="img-container" *ngFor="let img of getImages()">
                        <img src="{{getMainImage()}}" onError="this.src='./assets/img/no_image.png'">
                    </div>
                </div>
            </div>
            <div class="right-container" fxFlex="50" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
                <div>
                    <div *ngIf="isShop() && !isNotRegistered()" fxLayout="column" fxLayoutAlign="start start"
                        fxLayoutGap="5px">
                        <div>
                            <span class="title">{{productDetails.quantity.title}}:</span>
                            <span> {{productDetails.quantity.value}} </span>
                        </div>
                        <div>
                            <span class="title">{{productDetails.price.title}}:</span>
                            <span> {{productDetails.price.value}} </span>
                        </div>
                        <button mat-raised-button color="primary">Megveszem</button>
                    </div>
                    <div *ngIf="isAuction() && !isNotRegistered()" fxLayout="column" fxLayoutAlign="start start">
                        <div><span class="title">{{productDetails.price_starting.title}}:</span> <span>
                                {{productDetails.price_starting.value}} </span></div>
                        <mat-form-field>
                            <input matInput placeholder="Licit ár">
                        </mat-form-field>
                        <button mat-raised-button color="primary">Licitálok</button>
                    </div>
                    <div *ngIf="isNotRegistered()">
                        <div>This event is privat, you need to register</div>
                        <button mat-raised-button color="primary"
                            (click)="eventRegister.register(eventDetails)">Registration</button>
                    </div>
                </div>
                <div class="details-container" fxFlex="50" fxLayout="column" fxLayoutAlign="start">
                    <div class="title">{{productDetails.description.title}}:</div>
                    <div>{{productDetails.description.value}}</div>
                </div>
            </div>
        </div>
    </mat-card>
</div>