.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    min-height: 48px;
    z-index: 99999;
    color: whitesmoke;

    &.success {
        background-color: #8BC34A;
    }

    &.warning {
        background-color: #ba8b00;
    }

    &.error {
        background-color: #d70000;
    }
}

.type-icon {
    margin-right: 5px;
    user-select: none;
}

.msg-container {
    display: flex;
    align-items: center;
}

.close-button {
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, .3);
    }

    &:active {
        background-color: rgba(0, 0, 0, .6);
    }
}