<div class="notification" [ngClass]="data.type"
     [@fadeAnimation]="{value: animationState, params: {fadeIn: 300, fadeOut: 300}}"
    (@fadeAnimation.done)="onFadeFinished($event)">
    <div class="msg-container">
        <mat-icon class="type-icon">
            <ng-container [ngSwitch]="data.type">
                <ng-container *ngSwitchCase="'success'">check_circle</ng-container>
                <ng-container *ngSwitchCase="'warning'">warning</ng-container>
                <ng-container *ngSwitchCase="'error'">error_outline</ng-container>
            </ng-container>
        </mat-icon>
        <ng-container *ngIf="data.message; else templateRef">
            {{data.message}}
        </ng-container>

        <ng-template #templateRef>
            <ng-container *ngTemplateOutlet="data.template; context: data.templateContext"></ng-container>
        </ng-template>
    </div>
    <mat-icon class="close-button" (click)="setClosingAnimState()">highlight_off</mat-icon>
</div>
