<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Users</h4>
                  </div>
                  <div class="card-body">
                      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                          <!-- Position Column -->
                          <ng-container matColumnDef="id">
                              <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                          </ng-container>
                          z
                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="email">
                              <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef> Created</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
                        </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToUser(row)"></mat-row>
                      </mat-table>
                      <mat-paginator (page)="paginatorChanged($event)" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>