<form *ngIf="formGroup" class="add-company-container" fxLayout="column">
    <div class="card">
        <div class="card-header card-header-danger">
            <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <h3>{{ title | translate }}</h3>
                <mat-icon (click)="close()">close</mat-icon>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="formGroup">

                <dynamic-material-form [group]="formGroup"
                                       [model]="formModel"
                ></dynamic-material-form>

            </form>
            <button [disabled]="!formGroup.valid" style="float: right;" mat-raised-button color="warn"
                    (click)="saveCompany()">{{'shared.save' | translate}}</button>
        </div>
    </div>
</form>

