<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-fab color="primary" (click)="addEditCompany()">
                    <mat-icon>add</mat-icon>
                </button>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{'companies.my_companies' | translate}}</h4>
                    </div>
                    <div class="card-body">
                        <mat-table [dataSource]="companies" class="mat-elevation-z8" [@animateStagger]="{value:'50'}">
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>
                            z
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> Company Name</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="registrationNumber">
                                <mat-header-cell *matHeaderCellDef> Registration Number</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.registrationNumber}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="menu">
                                <mat-header-cell *matHeaderCellDef class="center"></mat-header-cell>
                                <mat-cell *matCellDef="let element" class="center" (click)="$event.stopPropagation()">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="addEditCompany(element.id)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                    </mat-menu>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickCompany(row)"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>