<div class="content-container" >
  <div *ngIf="items" fxLayout="column">
    <h3 *ngIf="items.length < 1">No favorites added yet!</h3>

    <app-pagination *ngIf="items.length > 0"  fxFlexAlign="end" [maxRange]="lastPage" (selectedIndexCallback)="pagination($event)">
    </app-pagination>


    <ng-container *ngIf="type === 'event'; then eventsTmp; else productsTmp"></ng-container>

    <ng-template #eventsTmp>

      <app-events [events]="items" (eventChanged)="changedItem($event)"></app-events>

    </ng-template>
    <ng-template #productsTmp>
        <app-event-products fxFlex="100" [products]="items" [isFavoriteList]="true"
          (productChanged)="changedItem($event)">
        </app-event-products>
    </ng-template>
  </div>
</div>