.cursor-pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

label {
    margin-bottom: 0rem !important;
}

.page-num-input{
    width: 20px;
    height: 20px;
    text-align-last: center;
    font-size: 14px;
    line-height: 1.42857;
    color: #4c4c4c;
    font-weight: 400;
}