<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <label>Go to page:</label>
  <select matInput class="page-num-input" type="text" [value]="selectedIndex" (change)="onChange($event.target.value)">
    <option *ngFor="let pageNum of pageNums" [value]="pageNum">{{pageNum}}</option>
  </select>
  <mat-icon class="cursor-pointer noselect" (click)="minus()" *ngIf="selectedIndex != 1">keyboard_arrow_left
  </mat-icon>
  <label>{{selectedIndex}} / {{maxRange}}</label>
  <mat-icon class="cursor-pointer noselect" (click)="plus()" *ngIf="selectedIndex != maxRange">keyboard_arrow_right
  </mat-icon>
</div>
