#button-container {
  display: flex;
  justify-content: space-between;
}

#main-container {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 20px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

button {
  color: white !important;
}

#image-container {
  height: 100%;
  max-width: 80%;

  img {
    height: 100%;
    max-width: 100%;
  }
}
