<div id="main-container" *ngIf="isVisible">

    <!--Previous-->
    <button mat-fab color="primary" (click)="previous()" [hidden]="imageUrls.length == 1" [disabled]="!hasPreviousItem()">
        <mat-icon class="centered">arrow_back</mat-icon>
    </button>

    <!--Image container-->
    <div id="image-container">
        <img [src]="imageUrls[currentIndex]">
    </div>

    <!--Next-->
    <button mat-fab color="primary" (click)="next()" [hidden]="imageUrls.length == 1" [disabled]="!hasNextItem()">
        <mat-icon class="centered">arrow_forward</mat-icon>
    </button>

</div>
