.profile-img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  img {
    height: auto;
    width: 100%;
  }
}

.card-body > button {
  float: right;
}

button{
  margin-top: 10px;
}
