<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="formGroup" class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{'profile.edit_details' | translate}}</h4>
                    </div>
                    <div  class="card-body">
                        <form  [formGroup]="formGroup">

                            <dynamic-material-form [group]="formGroup"
                                                   [model]="formModel"
                                                   (blur)="onBlur($event)"
                                                   (change)="onChange($event)"
                                                   (focus)="onFocus($event)"
                                                   (matEvent)="onMatEvent($event)"></dynamic-material-form>

                        </form>
                        <button mat-raised-button color="warn" (click)="saveProfile()">{{'profile.save' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{'profile.edit_image' | translate}}</h4>
                    </div>
                    <div class="card-body">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <div class="profile-img">
                                <img class="img" [src]="selectedLogo ? selectedLogo : uploadedLogoSrc" onError="this.src='./assets/img/no_image.png'"/>
                            </div>
                            <input hidden type="file" (change)="logoImgChangeListner($event)" accept="image/*"
                                   #logoFileInput>
                            <button mat-raised-button color="warn" (click)="logoFileInput.click()">{{'profile.upload_image' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
