<form class="signup-page p-sm-4 p-md-4 p-lg-4" fxLayout="column" [formGroup]="registerForm">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Sign Up</h3>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput name="name" formControlName="firstName">
        <mat-icon matSuffix class="sign-up-page-icons">account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput name="name" formControlName="lastName">
        <mat-icon matSuffix class="sign-up-page-icons">account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email">
        <mat-icon matSuffix class="sign-up-page-icons">mail</mat-icon>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-select name="lang" formControlName="lang" placeholder="App language">
          <mat-option *ngFor="let lang of langs; let i= index;" [value]="i">
            {{lang.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matSuffix class="sign-up-page-icons">vpn_key</mat-icon>
        <input matInput name="password" type="password" formControlName="password" minlength="5">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
            Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').errors?.minlength">
            Passwords must be at least 5 characters long.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <mat-icon matSuffix class="sign-up-page-icons">vpn_key</mat-icon>
        <input matInput name="passwordConfirm" type="password" formControlName="passwordConfirm" minlength="5">
        <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            Passwords must match
        </mat-error>
        <mat-error *ngIf="registerForm.get('passwordConfirm').errors?.minlength">
            Passwords must be at least 5 characters long.
        </mat-error>
    </mat-form-field>
    <div class="terms" fxLayout="row" fxLayoutAlign="start center">
        <mat-checkbox name="terms" color="primary" formControlName="terms" required>
            <span>Accept</span>
        </mat-checkbox>
        <a href="#" target="_blank">terms and conditions</a>
    </div>
    <button [disabled]="!registerForm.valid" mat-stroked-button color="warn" class="w-100" (click)="register()">Register</button>
</form>

