.header {
  padding-bottom: 20px;

  mat-icon{
    cursor: pointer;
  }

  h3 {
    margin: 0px !important;
  }
}

.sign-up-page-icons {
  color: rgba(0, 0, 0, .54) !important;
}

.signup-page{
  ::ng-deep mat-checkbox .mat-checkbox-layout{
    margin: 0px;
  }
}

.terms {
  padding-bottom: 1.34375em;

  a {
    font-size: 16px;
    margin-left: 4px;
    color: #26c6da;
  }
}
