.profile-logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.sub-nav{
    list-style: none;
    padding-left: 20px;
    
}

.sub-nav li, .main-menu-item {
  cursor: pointer !important;
}

.search-box{
    width: 25%;
}