<div class="logo">
    <a [routerLink]="//" class="simple-text">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <img class="profile-logo" src="{{selectedLogoUrl}}" onError="this.src='./assets/img/no_image.png'" />
            <span>{{userName}}</span>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <!-- <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="#pablo">
                    <i class="material-icons">dashboard</i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pablo">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div> -->
    <ul class="nav">
        <li  *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" [class.active]="menuItem.active" nav-item>
            <a *ngIf="!menuItem.submenus" class="nav-link"  [routerLink]="[menuItem.path]"  (click)="setActiveMenu(menuItem)">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
            <a *ngIf="menuItem.submenus" class="nav-link main-menu-item" (click)="setActiveMenu(menuItem)" >
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            <ul class="sub-nav" *ngIf="isSubMenuOpen(menuItem)">
                <li *ngFor="let submenu of menuItem.submenus" [class.active]="submenu.active">
                    <a   class="nav-link" [routerLink]="[submenu.path]" (click)="setActiveMenu(submenu)">
                        <i class="material-icons">{{submenu.icon}}</i>
                        <p>{{submenu.title}}</p>
                    </a>
                </li>  
            </ul>
        </li>
    </ul>
</div>