<mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="stepChanged($event)">
  <mat-step [stepControl]="formGroupBasic" [completed]="formGroupBasic && !formGroupBasic.invalid" [editable]="true">
    <ng-template matStepLabel>Event Basic</ng-template>
    <div *ngIf="formGroupBasic && formModelBasic" fxLayout="column">
      <div class="img-container-title">Event image:</div>
      <div class="image-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="event-img">
          <img #eventImg class="img" [src]="eventImgPath"
            onError="this.src='./assets/img/no_image.png'" />
        </div>
        <input hidden type="file" (change)="imgChangeListener($event)" accept="image/*" #eventImageInput>
        <button mat-fab color="warn" (click)="eventImageInput.click()">
          <mat-icon aria-label="Add event image">add</mat-icon>
        </button>
      </div>
      <form [formGroup]="formGroupBasic">
        <dynamic-material-form [group]="formGroupBasic" [model]="formModelBasic"></dynamic-material-form>
      </form>
      <button [disabled]="formGroupBasic.invalid" fxFlexAlign="end" mat-raised-button color="primary"
        (click)="saveFields(formIdBasic, formGroupBasic, 1)">{{'shared.save_next' | translate}}</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="formGroupSpecific" [completed]="formGroupSpecific && !formGroupSpecific.invalid" [editable]="true">
    <ng-template matStepLabel>Event Special</ng-template>
    <div *ngIf="formGroupSpecific && formModelSpecific" fxLayout="column">
      <form [formGroup]="formGroupSpecific">
        <dynamic-material-form [group]="formGroupSpecific" [model]="formModelSpecific"></dynamic-material-form>
      </form>
      <div fxFlexAlign="end" fxLayoutGap="5px">
        <button mat-raised-button color="primary" matStepperPrevious>{{'shared.previous' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="formGroupSpecific.invalid"
          (click)="saveFields(formIdSpecific, formGroupSpecific, 2)">{{'shared.save_next' | translate}}</button>
      </div>

    </div>
  </mat-step>
  <mat-step *ngIf="selectedEventType > 1" [stepControl]="formGroupSelectedType" [completed]="formGroupSelectedType && !formGroupSelectedType.invalid" [editable]="true">
    <ng-template matStepLabel>Shop/Auction</ng-template>
    <div fxLayout="column" *ngIf="formGroupSelectedType && formModelSelectedType">
      <form [formGroup]="formGroupSelectedType">
        <dynamic-material-form [group]="formGroupSelectedType" [model]="formModelSelectedType"></dynamic-material-form>
      </form>
      <div fxFlexAlign="end" fxLayoutGap="5px">
        <button mat-raised-button color="primary" matStepperPrevious>{{'shared.previous' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="formGroupSelectedType && formGroupSelectedType.invalid"
          (click)="saveFields(formIdSelectedType, formGroupSelectedType, 4)">{{'shared.save_next' | translate}}</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="formGroupInfo" [completed]="formGroupInfo && !formGroupInfo.invalid" [editable]="true">
    <ng-template matStepLabel>Info</ng-template>
    <div *ngIf="formGroupInfo && formModelInfo" fxLayout="column">
      <form [formGroup]="formGroupInfo">
        <dynamic-material-form [group]="formGroupInfo" [model]="formModelInfo"></dynamic-material-form>
      </form>
      <div fxFlexAlign="end" fxLayoutGap="5px">
        <button mat-raised-button color="primary" matStepperPrevious>{{'shared.previous' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="formGroupInfo.invalid"
          (click)="saveFields(formIdInfo, formGroupInfo, 5, true)">{{'shared.save' | translate}}</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>