mat-horizontal-stepper {
    position: relative;
    height: 100%;
}

.position-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.event-img {
    height: 200px;
    max-width: 200px;
    padding: 0;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.image-container {
    margin-bottom: 5px;
}

.img-container-title{
    font-size: 13px;
    color: rgba(0,0,0,0.5);
    font-weight: 400;
}