<div *ngIf="credentials" class="login-page">
    <div class="content">
        <form #loginForm="ngForm" class="login-form" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h2>Magpie</h2>
                <img class="logo" src="assets/img/logos/magpie.png">
            </div>
            <div fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" name="email" [(ngModel)]="credentials.user" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput name="password" type="password" placeholder="Password"
                               [(ngModel)]="credentials.password" required>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="50">
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex="50" fxLayoutAlign="end">
                <a href="javascript:void(0)">Forget Password</a>
               </div>
            </div> -->
            <div>
                <button [disabled]="disableLoginBtn" mat-stroked-button color="warn" class="w-100" (click)="onLogin()">
                    Login
                </button>
            </div>
            <div fxFlexAlign="center">Don't have an account yet? <span class="sign-up" (click)="signUp()">Sign Up</span></div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="2 1 auto" class="divider"></div>
                <span fxFlex="1 1 auto" style="text-align: center;">or</span>
                <div fxFlex="2 1 auto" class="divider"></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <img class="facebook-google-logo" src="assets/img/facebook_icon.png">
                <img class="facebook-google-logo" src="assets/img/google_icon.png" (click)="loginWithSocial(google_login_url)">

            </div>

        </form>
    </div>
</div>
