

.sign-up{
  color: #26c6da;
  cursor: pointer;
  font-weight: bolder;
}

//26c6da

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

  .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .app-name {
      margin-top: 0px;
      padding-bottom: 10px;
      font-size: 32px;
    }

    @media screen and (max-width: 500px) {
      .login-form {
         width: auto !important;
      }
      
    }

    .login-form {
      padding: 40px;
      background: #fff;
      width: 500px;
      box-shadow: 0 0 10px #ddd;

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }
    }
  }

  &:after {
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 0;
  }

  &:before {
    content: '';
    background: #f44336;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

h2 {
  margin: 0px !important;
}

.logo {
  width: 70px;
  height: 70px;
}

.facebook-google-logo{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.divider{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}
