
/*/** Overrides underline color **/
.mat-form-field-appearance-legacy .mat-form-field-ripple,
.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-underline,
.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-ripple {
    background-color: rgba(0, 0, 0, .6) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: rgba(0, 0, 0, .6) !important;
}

/*!** Overrides label color **!*/
.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-label {
    color: rgba(0, 0, 0, .6) !important;
}

/*.mat-form-field-underline, .mat-form-field-ripple {*/
/*background-color: red !important;*/
/*}*/


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, .6) !important;
}


.mat-form-field-label {
    color: rgba(0, 0, 0, .6) !important;
}

.custom-modal-container {
    overflow: auto;
} 

.custom-modal-container .mat-dialog-container {
    padding: 0;
    
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background: #26c6da;
}

.card-header {
    margin: 0px !important;
}


/* DYNAMIC FORMS MATERIAL */

mat-input {
    vertical-align: middle;
}

mat-input, mat-radio-button {
    margin-right: 1rem;
}

mat-select {
    width: 200px;
}

mat-slide-toggle {
    display: inline-block !important;
}

mat-form-field.mat-form-field-type-mat-chip-list {
    width: 100%;
}

dynamic-material-form-control {
    display: block;
    margin-bottom: 0.8rem;
}

dynamic-material-form-control div[role="group"] {
    display: flex;
    flex-direction: row;
}

dynamic-material-form-control div[role="group"] > dynamic-material-form-control{
    flex: 1 1 auto;
}

dynamic-material-form-control div[role="group"] > dynamic-material-form-control:not(:last-child){
    margin-right:8px;
}

dynamic-material-form-control dynamic-material-form-group + mat-error {
    font-size: 75%;
}

dynamic-material-form-control .mat-list-item {
    justify-content: center;
}

/*.mat-row.hovered {*/
    /*background: #eee;*/
/*}*/

/*.mat-row.highlighted {*/
    /*background: #999;*/
/*}*/

.content-container {
    margin-top: 40px;
    padding: 20px;
}

.mat-column-menu{
    flex: 0 0 50px;
}

@media screen and (max-width: 991px){
    .nav-open .over-layer{
        background: rgba(0,0,0,0.3);
        position: absolute;
        z-index: 555;
        width: 100%;
        height: 100%
    }
}


.favorite_icon{
    color: #ef5350;
}

.mat-pseudo-checkbox-checked::after {
    top: 4px !important;
    left: 2px !important;
}