<div fxLayout="column" fxLayoutGap="15px" class="content-container">
  <mat-card fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h2>{{'catalogs.add_catalog' | translate}}</h2>
    <form #form="ngForm" class="catalog-name-panel" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <label class="label">{{'catalogs.catalog_name' | translate}}: </label>
      <mat-form-field fxFlex="1 0 auto">
        <input name="title" matInput [(ngModel)]="catalog.title" placeholder="{{'catalogs.catalog_add_ph' | translate}}">
      </mat-form-field>
      <mat-checkbox *ngIf="catalog.id" name="active" [(ngModel)]="catalog.active">{{'catalogs.active' | translate}}</mat-checkbox>
      <button mat-raised-button color="primary" (click)="saveCatalog()">{{'shared.save' | translate}}</button>
    </form>

  </mat-card>
  <mat-card  *ngIf="catalog.id && catalog.id > -1"  fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h2>{{'catalogs.product_uploads' | translate}}</h2>

    <mat-accordion class="mapping-expansion-container">
      <mat-expansion-panel [expanded]="indexExpanded === 0"  (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'catalogs.file_upload' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutGap="10px">
          <div>
            <span style="font-size: 18px;">{{'catalogs.upload_file_feed' | translate}}: </span>
            <input type="file" (change)="onFileSelected($event)">
            <button mat-raised-button color="primary" (click)="uploadFile()">{{'shared.upload' | translate}}</button>
          </div>

          <div *ngIf="sysColumns.length > 0" class="divider"></div>
          <form *ngIf="sysColumns.length > 0" fxLayout="column" fxLayoutAlign="start" class="mapping">
            <div #mappingList fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
              *ngFor="let sCol of sysColumns">
              <div fxFlex="50">{{sCol.col.title}}</div>
              <mat-form-field fxFlex="50">
                <mat-select name="{{sCol.col.name}}" placeholder="File columns" [(ngModel)]="sCol.value">
                  <mat-option *ngFor="let fCol of fileCols; let i= index;" [value]="i">
                    {{fCol}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button fxFlexAlign="end" mat-raised-button color="primary" (click)="saveMapping()">Save</button>
          </form>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="indexExpanded === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'catalogs.manual_upload' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-fab color="primary" router [routerLink]="['/crud-prod']" [queryParams]="{ catalogId: catalog.id, productId: -1}" style="margin-bottom: 7px">
          <mat-icon>add</mat-icon>
        </button>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
           <!-- Position Column -->
           <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Tétel neve</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <!-- <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Tétel leírása</mat-header-cell>
            <mat-cell *matCellDef="let element"> </mat-cell>
          </ng-container> -->

          <!-- Weight Column -->
          <ng-container matColumnDef="condition">
            <mat-header-cell *matHeaderCellDef> Tétel Állapota</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.condition}} </mat-cell>
          </ng-container>
<!-- 
          <ng-container matColumnDef="tag_interest">
            <mat-header-cell *matHeaderCellDef> Tétel érdelődési kör</mat-header-cell>
            <mat-cell *matCellDef="let element"> </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Tétel Darabszám</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="for_free">
            <mat-header-cell *matHeaderCellDef> Ingyenesen Elvihető</mat-header-cell>
            <mat-cell *matCellDef="let element"> </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Tétel Ára</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="discount">
            <mat-header-cell *matHeaderCellDef> Tétel Kedvezmény</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.discount}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price_estimated">
            <mat-header-cell *matHeaderCellDef> Kikiálltási ár</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price_estimated}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef class="center"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="center" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="removeProduct(element.id)" mat-menu-item>
                  <mat-icon>delete_outline</mat-icon>
                  <span>{{'shared.remove' | translate}}</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickProduct(row)"></mat-row>
        </mat-table>
        <mat-paginator (page)="paginatorChanged($event)" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-expansion-panel>
    </mat-accordion>





  </mat-card>



</div>