mat-card {
    padding: 20px;
}

.label {
    font-size: 18px;
}

.catalog-name-panel {
    min-width: 40%;
}

.divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.mapping-expansion-container {
    width: 100%;
}

.mapping {
    width: 70%;
}