<div class="content-container">
  <app-product-image-viewer #viewer></app-product-image-viewer>
  <mat-card class="prod-wizard-container">
    <mat-horizontal-stepper #stepper [linear]="isLinear" #stepper>
      <mat-step [completed]="productId && productId > -1">
        <ng-template matStepLabel>{{'catalogs.product_fields' | translate}}</ng-template>
        <div fxLayout="column" fxLayoutAlign="center center" class="mapping">
          <div fxLayout="row" fxLayoutAlign="start center" style="width: 70%" fxLayoutGap="10px"
            *ngFor="let prodF of productFields">
            <div fxFlex="50">{{prodF.title}}</div>
            <mat-form-field fxFlex="50">
              <input matInput name="{{prodF.name}}" [(ngModel)]="prodF.value">
            </mat-form-field>
          </div>
          <button fxFlexAlign="end" mat-raised-button color="primary" (click)="saveProduct()">{{'shared.save_next' | translate}}</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'catalogs.product_images' | translate}}</ng-template>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="image-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
            *ngFor="let prodImage of productImages; let i = index;">
            <input #imgFileInput hidden type="file" (change)="imgChangeListener(prodImage, $event)" accept="image/*">
            <mat-form-field fxFlex="50 0 auto">
              <input matInput name="imgInput_{{i}}" [disabled]="true" placeholder="{{prodImage.title}}"
                [(ngModel)]="prodImage.path">
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="5px" fxFlex="1 0 auto">
              <button mat-icon-button color="primary" (click)="imgFileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="prodImgViewer(prodImage)">
                <mat-icon>slideshow</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="emptyImage(prodImage)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </div>
          <div fxLayout="row" fxFlexAlign="end" fxLayoutGap="5px">
            <button mat-raised-button color="warn" (click)="previewAll()">{{'catalogs.preview_all' | translate}}</button>
            <button mat-raised-button color="primary" (click)="saveProductImages()">{{'shared.save' | translate}}</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card>
</div>